apiVersion: v1
kind: Service
metadata:
  name: {{ include "__SERVICE_NAME__.fullname" . }}
  labels:
    {{- include "__SERVICE_NAME__.labels" . | nindent 4 }}
    {{- with .Values.extraLabels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.targetPort | default 80 }}
      protocol: TCP
      name: http
  selector:
    {{- include "__SERVICE_NAME__.selectorLabels" . | nindent 4 }}
